build/
cmake/

.vs/
*.suo
*.user
*.VC.db
*.VC.opendb

Debug/
Release/
x64/
x86/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
Makefile

*.obj
*.o
*.pdb
*.ilk
*.idb

*.exe

.DS_Store
Thumbs.db